body {
    background-image: url("22.jpg");
}
table {
    margin: auto;
    color: bl;
}
.contenedor {
    margin: auto;
    width: 500px;
    height: 320px;
    color: black;
}
.registrar {
    height: 30px;
    background: #2471A3;
    border:0; 
    color: black;
    margin-bottom: 5px;
}
input {
    width: 100%;
    height: 25px;
    border: 1px solid #3498DB ;
    margin-bottom: 5px;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;   
}
h1 {
    text-align: center;
}
